/* Body y Fondo General */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #000000;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #000000;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

/* Galería */
h2 {
    font-size: 2.5rem;
    color: #c8ff00;
}

.card {
    background-color: #1f1f1f;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid #333;
}

.card-body {
    padding: 15px;
}

.card-text {
    font-size: 1rem;
    color: #ccc;
    text-align: center;
}

/* Hover Effects */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Footer */
footer {
    background-color: #222;
    color: #bbb;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
